<div class="main-content">
    <div class="container-fluid">
  
          <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="card card-chart">
                          <div class="card-header card-header-primary d-flex justify-content-center">
                              <p class="card-category">Search</p>
                              
                          </div>
                          <div class="card-body">
                              <div class = "row">
                                  <div class="col-lg-4 form-inline d-flex justify-content-center md-form form-sm mt-0">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                      <input class="form-control form-control-sm ml-3 w-75" id="searchMobileNumber" name="searchMobileNumber" [(ngModel)]="searchMobileNumber" type="text" placeholder="mobile"
                                          aria-label="Search">
                                   </div>
  
                                   <div class="col-lg-4 form-inline d-flex justify-content-center md-form form-sm mt-0">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                      <input class="form-control form-control-sm ml-3 w-75" id="searchName" name="searchName" [(ngModel)]="searchName" type="text" placeholder="name"
                                          aria-label="Search">
                                   </div>
  
                                   <div class="col-lg-4">
                                   </div>
  
  
                              </div>
                              <div class ="row row-m-t">
                                  <div class="col-lg-12 d-flex justify-content-center">
                                     <button class="btn btn-outline-primary btn-rounded btn-sm my-0" (click)="refreshTable()">Search</button>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer">
                              <div class="stats">
                                  <p class="text-primary">results count {{resultsCount}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
          </div>
  
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <h4 class="card-title ">Drivers</h4>
                        <p class="card-category"> View, Modify and create Drivers</p>
                        <div class="nav-tabs-navigation justify-content-center">
                              <div class="nav-tabs-wrapper ">
                                  <ul class="nav nav-tabs justify-content-center" data-tabs="tabs">
                                      <li class="nav-item">
                                          <!--<a mat-button class="nav-link" [routerLink]="" (click)="createNewItem()" href="" data-toggle="tab">
                                              <i class="material-icons">bug_report</i> Create New Rider
                                              <div class="ripple-container"></div>
                                          </a> -->
                                          <button mat-raised-button (click)="createNewItem()" color="warn" >Create New Driver</button>
                                          
  
                                      </li>
                                  </ul>
                              </div>
                        </div>
                    </div>
                    <div class="card-body"  *ngIf="renderTable">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        select
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                      Mobile Number
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                
                                <tbody>
                                  <tr *ngFor="let item of collection | paginate: config">
                                      <td>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" value="" checked>
                                                  <span class="form-check-sign">
                                                      <span class="check"></span>
                                                  </span>
                                              </label>
                                          </div>
                                      </td>
                                      
                                      <td >{{item._id}}</td>
                                      <td>{{item.name}}</td>
                                      <td>{{item.mobileNumber}}</td>
                                      
                                      <td class="td-actions text-left">
                                        
                                          <button mat-raised-button type="button" (click)="viewItem($event, item)" matTooltip="View" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                              <i class="material-icons">visibility</i>
                                          </button>
                                          
                                      </td>
                                  </tr>
                               </tbody>
                            </table>
                            <pagination-controls  
                                              (pageChange)="pageChanged($event)"
                                              (pageBoundsCorrection)="pageChanged($event)"
                                              maxSize="9"
                                              directionLinks="true"
                                              responsive="true"
                                              previousLabel="Previous"
                                              nextLabel="Next"
                                              screenReaderPaginationLabel="Pagination"
                                              screenReaderPageLabel="page"
                                              screenReaderCurrentLabel="You're on page">
                          </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  