<h2 mat-dialog-title>Rider</h2>
<mat-dialog-content class="mat-typography">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Rider Profile</h4>
                            <p class="card-category">View, Edit or Create Rider</p>
                        </div>
                        <div class="card-body">
                            <app-check-mark-animated *ngIf="committed" ></app-check-mark-animated>
                            <mat-tab-group dynamicHeight *ngIf="!committed">
                              <mat-tab label="Rider"> 
                            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
                                <div class="row">
                                    <div class="col-md-10">
                                        <mat-form-field class="example-full-width">
                                          <input matInput id="name" placeholder="name"  formControlName="name" required [disabled]="viewPage()">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(model)]="mobile" placeholder="Mobile number"  formControlName="mobileNumber" required [disabled]="viewPage()">
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email"  formControlName="email" required [disabled]="viewPage()">
                                      </mat-form-field>
                                  </div>
                              </div>
                                <div class="row">
                                    <div class="col-md-10">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adress" type="text"  formControlName="address" [disabled]="disabledField()">
                                      </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Region" type="text"  formControlName="region" [attr.disabled]="viewPage() ? '' : null">
                                      </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" [disabled]="!profileForm.valid" *ngIf="!viewPage()" class="btn btn-danger pull-right">{{action}}</button>
                                
                                
                               </form>
                              </mat-tab>
                              <mat-tab label="Billing Methods"   *ngIf="viewPage()">  </mat-tab>
                            </mat-tab-group>
                            <button mat-button mat-dialog-close>close</button>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
 
</mat-dialog-actions>